# This is a simplified .gitignore for python project
# for more comprehensive .gitignore you could use https://github.com/MacHu-GWU/pygitrepo-project/blob/master/.gitignore

# MacOS
.DS_Store

# Intellij files
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python
build/
dist/
*.egg-info/

# Virtualenv
venv/

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
